<style>
    nav{
        display: flex;
        justify-content: space-around;
        background-color: #212121;
        color: white;
        padding: 10px;
    }
    nav a{
        color: white;
        text-decoration: none;
    }
    
    nav a.active{
        color: red;
    }
    
</style>

<nav>
    <!-- esta foma de enlazar rutas es la mas sencilla -->
    <!-- el routerLinkActive="active" sirve para poner una clase css cuando la ruta esta activa. -->
    <!-- el [routerLinkActiveOptions]="{exact: true}" con esta uno se pone en rojo y el otro se quita. -->
    <a routerLink="/" routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}">

    Counter</a>

    <!-- esta es otra forma de enlazar rutas segun angular -->
    <a [routerLink]="['/hero']" [routerLinkActive]="'active'">Hero</a>
    <a routerLink="/dragonball" [routerLinkActive]="'active'">DragonBall</a>

    <!-- <a href="">p</a> -->
</nav>